<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ps_translateyourmodule</name>
    <displayName><![CDATA[Translate your module]]></displayName>
    <version><![CDATA[1.5.0]]></version>
    <description><![CDATA[It allow to export all the sentences needed to be translated and to import it]]></description>
    <author><![CDATA[PrestaShop]]></author>
    <tab><![CDATA[other]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
