.bootstrap .page-head.custom-tab {
    top: 8rem !important;
}
.bootstrap .page-head .page-head-tabs ul {
    border-bottom: 0px;
    padding-left: 210px;
}
.bootstrap .page-head .page-head-tabs ul {
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    font-weight: 400;
}
.bootstrap .nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.bootstrap .page-head .page-head-tabs li {
    display: inline-block;
}

.bootstrap .page-head .page-head-tabs li a{
    color: #6c868e;
    display: block;
    padding: 15px 20px;
    padding: .9375rem 1.25rem;
    font-weight: 400;
    font-size: 14px;
}
.nav li.active{
    border-bottom: 3px solid #25b9d7;
    border-bottom: .1875rem solid #25b9d7;
    background: #f3f9fb;
    color: #000000;
}


/** 
    * Responsive
**/
@media screen and (max-width: 1039px) {
    .bootstrap .page-head.custom-tab {
        margin-top: -1rem;
    }
}
@media screen and (max-width: 768px) {
    .bootstrap .page-head .page-head-tabs ul {
        padding-left: 50px;
    }
}

#rateThisModule p{ text-align: right; font-size: 14px; }
#rateThisModule .material-icons{ font-size: 14px; margin-left:10px; vertical-align: middle; }
#rateThisModule img{ vertical-align: baseline; }
#rateThisModule a{ font-weight: 600; }
